body {
    background-color: #F5E6C4;
    height: 100%;
    margin: 0;
    place-items: center;
}

span {
    font-weight: bolder;
    margin-left: -10px;
}

h6{
    color: #F0C476;
    
}

.container {
    position: relative;
    display: flex;
    border-radius: 30px;
    width: 91vw; 
    max-width: 1200px;
    height: 90vh; 
    max-height: 750px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

.horizontal-line {
    margin-top: 20px;
    height: 2px; /* Ketebalan garis */
    background-color: #F0C476; /* Warna garis */
}

.dropdown-toggle {
    border: 1px solid #f5f5f5;
    background-color: #FFF4F3;
    color: #333;
    font-weight: bold;
}

.custom-btn .username-text {
    color: #E59A17; /* Ubah warna teks Username */
    font-weight: bold; /* Tambahkan gaya teks */
    margin-left: 5px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    
    margin-bottom: 5px; 
    text-decoration: none;
    transition: all 0.3s ease;
}

.dropdown-item img.dropdown-icon {
    width: 20px;
    margin-right: 10px;
    transition: filter 0.3s ease, brightness 0.3s ease;
}

.dropdown-item:hover {
    background-color: #3d5a40;
    color: #F0C476;
}

.dropdown-item:hover img.dropdown-icon {
    filter: brightness(0) invert(1);
}

.dropdown-item.active {
    background-color: #3d5a40;
    color: #F0C476;
}

.dropdown-item.active img.dropdown-icon {
    filter: brightness(0) invert(1);
    transition: none;
}

.sidebar {
    background-color: #FFF4F3;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar .text-center {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar img.logo {
    width: 80px;
    margin-bottom: 10px;
}

.sidebar h5 {
    color: #ff8c00;
    font-weight: bold;
    margin: 0;
}

.nav {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    background-color: #F5E6C4;
    color: #616B60;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 35px;
}

.nav-link img.nav-icon {
    width: 20px;
    margin-right: 10px;
    transition: filter 0.3s ease, brightness 0.3s ease;
}

.nav-link:hover {
    background-color: #FFDAB9;
    color: #3d5a40;
}

.nav-link:hover img.nav-icon {
    filter: brightness(0) invert(1);
}

.nav-link.active {
    background-color: #3d5a40;
    color: #F0C476;
}

.nav-link.active img.nav-icon {
    filter: brightness(0) invert(1);
    transition: none;
}


.text-warning {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding-left: 15px;
}

.custom-card {
    background-color: #fae7c0;
    border: none;
    border-radius: 10px;
    color: #333;
    text-align: center;
    padding: 15px;
}

.custom-card .card-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #666;
}

.custom-card h4 {
    color: #3d5a40;
}