body {
    background-color: #F5E6C4;
    height: 100%;
    margin: 0;
    place-items: center;
}

span {
    font-weight: bolder;
}

h6{
    color: #F0C476;
    
}

.container {
    position: relative;
    display: flex;
    border-radius: 30px;
    width: 91vw; 
    max-width: 1200px;
    height: 90vh; 
    max-height: 750px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

.horizontal-line {
    margin-top: 20px;
    height: 2px;
    background-color: #F0C476;
}

.dropdown-toggle {
    border: 1px solid #f5f5f5;
    background-color: #FFF4F3;
    color: #333;
    font-weight: bold;
}

.custom-btn .username-text {
    color: #E59A17;
    font-weight: bold;
    margin-left: 5px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 5px; 
    text-decoration: none;
    transition: all 0.3s ease;
}

.dropdown-item img.dropdown-icon {
    width: 20px;
    margin-right: 10px;
    transition: filter 0.3s ease, brightness 0.3s ease;
}

.dropdown-item:hover {
    background-color: #3d5a40;
    color: #F0C476;
}

.dropdown-item:hover img.dropdown-icon {
    filter: brightness(0) invert(1);
}

.dropdown-item.active {
    background-color: #3d5a40;
    color: #F0C476;
}

.dropdown-item.active img.dropdown-icon {
    filter: brightness(0) invert(1);
    transition: none;
}

.sidebar {
    background-color: #FFF4F3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: -15px;
}

.sidebar .text-center {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar img.logo {
    width: 80px;
    margin-bottom: 10px;
}

.sidebar h5 {
    color: #ff8c00;
    font-weight: bold;
    margin: 0;
}

.nav {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    background-color: #F5E6C4;
    color: #616B60;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 35px;
}

.nav-link img.nav-icon {
    width: 20px;
    margin-right: 10px;
    transition: filter 0.3s ease, brightness 0.3s ease;
}

.nav-link:hover {
    background-color: #FFDAB9;
    color: #F0C476;
}

.nav-link:hover img.nav-icon {
    filter: brightness(0) invert(1);
}

.nav-link.active {
    background-color: #3d5a40;
    color: #F0C476;
}

.nav-link.active img.nav-icon {
    filter: brightness(0) invert(1);
    transition: none;
}

.text-warning {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding-left: 15px;
}

.container-table {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #f9e8c7;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    font-weight: bolder;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 75%;
    background-color: #e2b769;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    color: #485847;
    margin-left: -5px;
    margin-top: -60px;
}

header h2 {
    margin: 0;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #FFF4F3;
    width: 450px;
    height: 31rem;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}

.button-group {
    display: flex;
    flex-direction: row;
}

.button-close {
    background-color: #ECECEC;
    color: #616B60;
    padding: 10px 20px;
    border-color: #333;
    border-radius: 10px;
    cursor: pointer;  
    margin-left: 55%;
}

.button-save {
    background-color: #616B60;
    color: #F0C476;
    padding: 10px 20px;
    border-color: #333;
    border-radius: 10px;
    cursor: pointer;  
    margin-left: 10px;
}

.popup .content h6 {
    text-align: left;
}

.popup .content button {
    text-align: right;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.add-button {
    background-color: #4b5a37;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;  
    margin-top: 20px;
    margin-left: 80%;
}

.add-button:hover {
    background-color: #3c4930;
}

.form {
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
table th, table td {
    border: 1px solid #4b5a37;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #4b5a37;
    color: #fff;
}

table td {
    background-color: #fff8e3;
}

.search {
    margin-top: 10px;
    text-align: left;
}
  
.search input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.footer {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}